<?xml version="1.0"?>
<phpdox xmlns="http://phpdox.de/config">
 <project name="jam" source="lib/php" workdir="build/phpdox">
  <collector publiconly="false">
   <include mask="*.php" />
  </collector>

  <generator output="build">
   <build engine="html" enabled="true" output="api"/>
  </generator>
 </project>
</phpdox>
